*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #001b5e;
    font-family: Arial,  sans-serif;
}

.container{
    width: 800px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#001b5e,#0b6ccf);
    border-radius: 5px;
}

h1{
    color: white;
    font-size: 50px;
    font-weight: normal;
}

@media (max-width:768px){

    .container{
        width: 90%;
        padding: 20px;
    }

    h1{
        font-size: 42px;
        line-height: 1.2;
    }
    
}