*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#F1F3F4;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
}

.login-box{
width:450px;
max-width:460px;
background:#fff;
padding:40px;
border-radius:18px;
box-shadow:0 8px 25px rgba(0,0,0,.12);
border-top:6px solid #4ECDC4;
}

h1{
text-align:center;
color:#16213e;
margin-bottom:12px;
}

.subtitle{
text-align:center;
color:#000000;
margin-bottom:30px;
}

label{
display:block;
font-weight:bold;
margin-bottom:8px;
margin-top:18px;
}

input[type=email],
input[type=password]{
width:100%;
padding:16px;
border:1px solid #4ECDC4;
background-color: #F1F3F4;
border-radius:10px;
font-size:16px;
outline:none;
transition:.3s;
}

input::placeholder{
    color: #000000;
}

input:focus{
border-color:#4ECDC4;
}

small{
display:block;
margin-top:10px;
color:#000000;
font-size: 12px;
text-align: left;
}

.options{
display:flex;
justify-content:space-between;
align-items:center;
margin:25px 0;
font-size:14px;
gap:10px;
}

.remember{
display:flex;
align-items:center;
gap:8px;
font-weight:normal;
margin:0;
font-size: 10px;
}

.options a{
text-decoration:none;
color:#62d8f4;
font-size: 10px;
text-align: right;
}

button{
width:100%;
padding:10px;
background:#4ECDC4;
color:#fff;
border:none;
border-radius:10px;
font-size:17px;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#4ECDC4;
}

.bottom{
position: relative;
text-align:center;
margin-top:30px;
top: -14px;
font-size: 10px;
text-align: left;

}

.bottom a{
text-decoration:none;
color:#4ECDC4;
font-weight:bold;
font-size: 10px;
}

@media(max-width:768px){

.login-box{
padding:25px;
}

h1{
font-size:30px;
}

.options{
flex-direction:column;
align-items:flex-start;
}

.options a{
margin-left:30px;
}

}

@media(max-width:480px){

body{
padding:12px;
}

.login-box{
padding:20px;
border-radius:15px;
}

h1{
font-size:26px;
}

input{
padding:12px;
}

button{
padding:13px;
font-size:16px;
}

}